{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="row">
    {% for category in categories %}
      <div class="col-md-4 col-sm-6">
        <div class="category-card" data-category="{{category.category}}">
          <span class="category-card__item-title"> {{category.category}} </span>
          <div class="category-card__item-count">
            <p>{{ category.item_count() }}</p>
            <p>items</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="col-md-4">
    <div id="latest-items" class="category-items">
      <h2>Latest Items</h2>
      <ul>
      {% for item in latest_items %}
        <li><a href="{{url_for('show_item_page', item_id=item.id ) }}">{{item.title}}</a> <small>({{item.category}}) </small></li>
      {% endfor %}
      </ul>
    </div>

    <div id="selected-category-items" class="category-items">
    </div>
  </div>
</div>

{% endblock %}