<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <title>Item Catalog</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <strong>ITEM CATALOG</strong>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if session.get('user') %}
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="user-profile__name">{{ session['user'].user_data.name }}</span>
                <img class="user-profile__img" src="{{ session['user'].user_data.picture }}" alt="User Picture"></img>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for flash in messages %}
          <div class="flash-message__wrapper">
            <div class="notification is-{{flash[1]}} flash-message">
              <div class="container">
                <button class="delete"></button>
                <p class="has-text-centered">{{flash[0]}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
       {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

  {% block js %}
  {% endblock %}
</body>

</html>