<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400" />
  <link type="text/css" rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <title>Item Catalog</title>
</head>

<body>
  <header class="nav has-shadow">
    <nav class="nav container">
      <div class="nav-left">
        <a class="nav-item title is-3" href="/">
          <strong>Item Catalog</strong>
        </a>
      </div>
      <div class="nav-right nav-menu">
        {% if session.get('user') %}
          <span class="nav-item">
            <figure class="image is-24x24">
              <img src="{{ session['user'].picture }}" alt="User Picture"></img>
            </figure>
          </span>
          <span class="nav-item">
            <a class="button is-primary" href="/logout">
              LOGOUT
            </a>
          </span>
        {% else %}
          <span class="nav-item">
            <a class="button is-primary" href="/login">
              LOGIN
            </a>
          </span>
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for flash in messages %}
          <div class="flash-message__wrapper">
            <div class="notification is-{{flash[1]}} flash-message">
              <div class="container">
                <button class="delete"></button>
                <p class="has-text-centered">{{flash[0]}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
       {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>