header {
    border-top: 5px solid #455A64;
}

.user-profile {
    padding: 10px 10px !important;
}

.user-profile__name {
    margin-right: 8px;
    font-weight: bold;
}

.user-profile__img {
    max-height: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.category-items {
    border: 2px solid #455A64;
    padding: 0;
    border-radius: 3px;
}

.category-items h2 {
    text-align: center;
    color: white;
    background: #455A64;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
}

.category-items ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.category-items li small {
    color: grey;
    font-style: italic;
}

.category-items li:not(:last-child) {
    border-bottom: 1px solid #cecece;
}

.category-items li {
  padding: 5px 0;
}

.category-items li a {
    padding-left: 15px;
}

.login-modal {
    width: 300px;
    margin: 0 auto;
}

.login-modal .modal-content {
    width: 300px;
}

.category-card {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #cecece;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 18px;
}

.category-card:hover {
    cursor: pointer;
    background: #F8F8F8;
}

.category-card__selected {
    color: white;
    background: #455A64;
    border: 1px solid #455A64;
}

.category-card__selected:hover {
    background: #455A64;
}

.category-card__item-count {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #F8F8F8;
    border-left: 1px solid #cecece;
    padding: 2px 5px;
}

.category-card__selected .category-card__item-count {
    color: black;
}

.category-card__item-count p {
    margin: 0;
}

.category-card__item-count p:first-child {
    text-align: center;
}

.category-card__item-count p:last-child {
    text-align: center;
    font-size: 12px;
}

.item {
    font-size: 18px;
}

.item__title {
    position: relative;
}

.item__controls {
    position: absolute;
    right: 0;
    top: 0;
}

.new-item textarea {
    height: 200px;
}

.new-item .form-group {
    position: relative;
}

.typeahead.dropdown-menu {
    width: 100%;
}

#selected-category-items {
    display: none;
}